@model List<Teacher>
@{
    ViewData["Title"] = "Index";

}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Müəllimlər</h4>
            <a asp-action="Create" class="btn btn-facebook"><i class="mdi mdi-folder-plus"></i>Əlavə et</a>
            <div class="table-responsive">
                <table id="myTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Tevellüd</th>
                            <th>Email</th>
                            <th>Əlaqə nömrəsi</th>
                            <th>Təhsili</th>
                            <th>Tedris etdiyi fenn</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Teacher item in Model)
                        {
                            <tr>
                                <td>@item.Ad</td>

                                <td>
                                    @item.Soyad
                                </td>
                                <td>
                                    @item.Tevellud
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    +994 @item.Elaqe_nomresi
                                </td>
                                <td>
                                    @item.Tehsili
                                </td>
                                <td>
                                    @item.course.Ad
                                </td>
                                <td>
                                    @if (item.IsDeactive)
                                    {
                                        <span class="text-danger">Deaktiv</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">Aktiv</span>
                                    }
                                </td>

                                <td>
                                    @if (item.IsDeactive)
                                    {
                                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-secondary"><i class="mdi mdi-folder-download"></i>Aktivləşdirildi</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i>Sil</a>
                                    }
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success"><i class="mdi mdi-folder-plus"></i>Yenilə</a>

                                </td>


                            </tr>
                        }




                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    </script>

} 