@model Teacher
@{
    ViewData["Title"] = "Update";
}

<h1></h1>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="@Model.Ad"></label>
        <textarea asp-for="@Model.Ad" class="form-control"></textarea>
        <span asp-validation-for="@Model.Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Soyad"></label>
        <textarea asp-for="@Model.Soyad" class="form-control"></textarea>
        <span asp-validation-for="@Model.Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Tevellud"></label>
        <textarea asp-for="@Model.Tevellud" class="form-control"></textarea>
        <span asp-validation-for="@Model.Tevellud" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Tehsili"></label>
        <textarea asp-for="@Model.Tehsili" class="form-control"></textarea>
        <span asp-validation-for="@Model.Tehsili" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Elaqe_nomresi"></label>
        <textarea asp-for="@Model.Elaqe_nomresi" class="form-control"></textarea>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Category</label>
        <select class="form-control" name="courseId">
            <option></option>
            @foreach (Course item in ViewBag.Courses)
            {

                @if (Model.CourseId == item.Id)
                {
                    <option selected value="@item.Id">@item.Ad</option>
                }
                else
                {
                    <option value="@item.Id">@item.Ad</option>
                }

            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary"><i class="mdi mdi-folder-plus"></i>Update</button>
    <a asp-controller="Teachers" asp-action="Index" class="btn btn-success"><i class="mdi mdi-folder-upload"></i>Go Back</a>
</form>
@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


}


